.dialogs {
    display: grid;
    grid-template-columns: 3fr 7fr;
    background: lavenderblush;
    height: 897px;

}

.dialogsItem {
    padding: 20px;
    background: whitesmoke;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.wrapperOut {
    position: relative;
}

.textarea {
    position: absolute;
    top: 96%;
    right: 0%;
    height: 30px;
    width: 690px;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.btn {}